<div class="container">

  <ul class="nav nav-pills">
    <li>{{link-to 'Home' 'index'}}</li>
    <li>{{link-to 'Basics' 'basics'}}</li>
    <li>{{link-to 'Chart' 'chart'}}</li>
    <li>{{link-to 'Chart2' 'chart2'}}</li>
  </ul>

  {{outlet}}

</div>